<h1>Profile</h1>

<p>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
</p>

<h3>Your name</h3>
<%= @user.name %>

<h3>Age</h3>
<%= @user.age %>

<h3>Email address</h3>

<%= @user.email %>  
<br><br>

<h3>
  <%= link_to "Edit your profile", edit_user_registration_path %>&nbsp
  <%= link_to "Back", :back %>
</h3>